@model UrlViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-action="Create" method="post">
    <input asp-for="FullUrl"/>
    <button type="submit">Создать Short Url</button>
</form>
