@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table">
        <thead>
        <th>Полная ссылка</th>
        <th>Короткая ссылка</th>
        <th>Дата сооздания</th>
        <th>Количество переходов</th>
        </thead>
        <tbody>
        <tr>
            
        </tr>
        </tbody>
    </table>
</div>